# Python / Backend

# Node.js / Frontend


# IDE / General
.vscode/
.idea/
*.swp
*.log

# Flutter App (Android/IOS)
# Ignore build artifacts but follow custom inclusions


# UN-IGNORE specific build results for tracking

